body {
	text-align:center;
	background-color:#61b8f2;
	color: white;
	font-family: Arial, sans-serif;
	font-size: 50px;
	text-decoration: none;
}

ul {
	background-color:#db4223;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow:hidden;
}

li a {
	text-decoration: none;
	text-align: center;
	padding: 14px 20px;
	display:block;
	float:left;
}

li a:hover {
	background-color: #ed93d5
}